name: Snyk security scan

on:
  push:

jobs:
  snyk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"

      - name: Restore
        run: dotnet restore

      - name: Locate .NET project files
        run: |
          ls -la
          find . -maxdepth 5 -name "*.sln" -o -name "*.csproj" -o -name "packages.config"


      - name: Run Snyk (fail on high+)
        uses: snyk/actions/node@master
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
          SNYK_DISABLE_ANALYTICS: "1"
        with:
          args: --severity-threshold=high
